body {
  background-color: #000000;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

a {
  color: #55ffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#viewer {
  width: calc(100% - 50px);
  height: 100vh;
  padding: 25px;
  box-sizing: border-box;
}

#keybindingsDialog {
  min-width: 400px;
  margin: auto;
  border: 1px solid #333;
  padding: 0;
  border: 1px solid #fff;
}

.keybindings-content {
  display: flex;
  flex-direction: column;
  background: #111;
  color: #eee;
  padding: 5px 8px;
  font-family: monospace;
  font-size: 12px;

  h3 {
    margin: 0 0 10px 0;
  }
}

.keybindings-content ul {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
}

.keybindings-content li {
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

kbd {
  color: #000;
  background-color: #fff;
  padding: 1px 3px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  margin-left: 5px;
}

#closeKeybindings {
  align-self: flex-end;
  cursor: pointer;
  background: #333;
  color: white;
  border: none;
  padding: 2px 6px;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 5px;
  outline: none;
}

#closeKeybindings:hover {
  background: #444;
}

.file-list {
  max-width: 1024px;
}

.file-header, .file-entry {
  display: flex;
  white-space: nowrap;
  line-height: 1.5;
}

.file-header span, .file-entry a, .file-entry span {
  display: inline-block;
}

.file-modified {
  margin-left: auto;
  text-align: right;
  padding-right: 20px;
  color: #aaa;
}

.file-size {
  width: 80px;
  text-align: right;
  color: #aaa;
}

.file-header {
  color: #888;
  margin-bottom: 8px;
}

.toc-chapter {
  margin-bottom: 10px;
}

.chapter-title {
  cursor: pointer;
  font-weight: bold;
  color: #55ffff;
  padding: 3px 0;
}

details > summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details > summary::after {
  content: "+";
  font-weight: bold;
  margin-left: 5px;
}

details[open] > summary::after {
  content: "-";
}

.toc-sublist {
  margin: 5px 0 8px 15px !important;
  padding: 0 !important;
  list-style-type: none;
  border-left: 1px solid #333;
}

.toc-level-1 {
  padding: 3px 0 3px 10px;
  border-left: 1px solid transparent;
}

.toc-level-1:hover {
  border-left: 1px solid #55ffff;
}

.toc-list {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px !important;
  padding: 0 !important;
  list-style-type: none;
}
